{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-3 product-picture">
            <img class="product-picture-img" src="{{ product.picture_link }}" alt="{{ product.name }}">
        </div>
        <div class="col-md-4 col-sm-12 col-lg-7">
            <h1>{{ product.name }}</h1>
            <p>{{ product.category }}</p>
            <p class="product-price">Price: {{ product.price }} USD</p>
            <p>{{ product.description }}</p>
            <p>added: {{ product.created_at }}</p>
        </div>
    </div>
{% endblock %}